<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.kerry.seata.demo.orderservice.mapper.OrderMapper">

    <insert id="save">
       insert into `order`(order_no,user_id,product_id,amount,money,status)
       values (#{order.orderNo},#{order.userId},#{order.productId},#{order.amount},#{order.money},#{order.status})
   </insert>

    <update id="updateStatusByOrderNo">
        update `order` set status=#{status} WHERE order_no=#{orderNo}
    </update>

    <delete id="deleteByOrderNo">
        delete from `order` where order_no=#{orderNo}
    </delete>

</mapper>